.test{
  min-height: 44rem;
  font-size: 20px;
}

.progress-bar{
  width: 0;
  height: 1vh;
  margin: -45px 0 0 -45px;
  background-color: var(--orange);
  position: absolute;
  transition: 1s;
}

.shadow{
  box-shadow:
  0 3px 3px 0 rgba(60,64,67,.08),
  0 3px 3px 3px rgba(60,64,67,.16);
  transition: .2s;
}

.main-header{
  text-align: center;
  margin-top: 0;
  letter-spacing: normal;
  font-weight: bold;
}

.selected{
  box-shadow:
  0 0 6px 6px rgba(255,153,0,.6),
  0 0 6px 6px rgba(255,153,0,.6);
}

.link-button:hover{
  cursor: pointer;
  box-shadow:
  0 6px 6px 0 rgba(60,64,67,.2),
  0 6px 6px 6px rgba(60,64,67,.2);
  color: black;
  transform: translateY(-5px);
}

.link-button{
  background-color: var(--orange);
  width: 200px;
  height: 50px;
  font-size: 18px;
  border-radius: 6px;
  color: white;
}

.container{
  flex-direction: column;
  border-radius: 6px;
  padding: 30px 50px;
  margin: 0 2.5vw 0;
  background-color: white;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.square-input input[type="text"]{
  width: 150px;
  height: 150px;
  font-size: 50px;
}

input[type="text"]{
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
  margin: 15px 0;
  font-size: 20px;
  text-align: center;
}

.input-container img{
  width: 50px;
  height: 50px;
}

.frame2{
  height: 33rem;
  justify-content: flex-end;
}

.frame10{
  margin: 0 2vw 0;
  width: calc(88vw / 3);
  min-height: 200px;
  min-width: 200px;
  padding: 0 0.5vw 0;
  font-size: 25px;
  text-align: center;
}

.label{
  box-sizing: content-box;
  margin-top: 1vh;
  margin-bottom: -20px;
  background-color: var(--orange);
  color: white;
  width: 120px;
  border-radius: 10px;
  border-left: 4px solid white;
  border-right: 4px solid white;
  z-index: 999;
}

.result{
  font-size: 40px;
  vertical-align: middle;
}

.painted{
  color: var(--orange);
  cursor: pointer;
}

.frame-picture img{
  height: 40vh;
  margin: 15px 0;
}

.frame-text{
  width: 100%;
}

.result-strings{
  margin: 15px 0;
}

.relative{
  position: relative;
}

.input-container{
  margin: 0;
}

.column-flex{
  flex-direction: column;
}

.wrapper{
  margin: 40px 0 50px;
}

.offset{
  margin-top: -10px;
}